<a href="https://colab.research.google.com/github/rz-pb/CS-SBU-eDataMining-MSc-2022/blob/400422049/submits/400422049/project1/Exercise1_Dataset2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About Dataset

## Where is the data from?
The data was scraped from Immoscout24, the biggest real estate platform in Germany. Immoscout24 has listings for both rental properties and homes for sale, however, the data only contains offers for rental properties.
The scraping process is described in this blog post and the corresponding code for scraping and minimal processing afterwards can be found in this Github repo.
At a given time, all available offers were scraped from the site and saved. This process was repeated three times, so the data set contains offers from the dates 2018-09-22, 2019-05-10 and 2019-10-08.

## Content
The data set contains most of the important properties, such as living area size, the rent, both base rent as well as total rent (if applicable), the location (street and house number, if available, ZIP code and state), type of energy etc. It also has two variables containing longer free text descriptions: description with a text describing the offer and facilities describing all available facilities, newest renovation etc. The date column was added to give the time of scraping.

# Getting Started
In this section first we are going to import modules and then set up the connections to the kaggle in order to have access to the datasets and importing them to the google colab environment.

## Importing Modules

In [76]:
import pandas as pd
import numpy as np
from numpy import NaN
pd.set_option('display.max_columns', 500)
pd.__version__

'1.3.5'

## Installing the _kaggle_ Module
In order to have access to kaggle API for fetching the datasets, we need to install the kaggle module inside the environment using bash commmad python package installer **pip**.

In [2]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.63.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [3]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"rezapourbahreini","key":"218f7736c63d979f4a9458061d870c49"}'}

In [4]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

## Importing the **Apartment rental offers in Germany** Dataset

In [5]:
!kaggle datasets download -d corrieaar/apartment-rental-offers-in-germany

Downloading apartment-rental-offers-in-germany.zip to /content
 87% 81.0M/93.0M [00:00<00:00, 156MB/s]
100% 93.0M/93.0M [00:00<00:00, 174MB/s]

In [6]:
!pwd

/content

In [7]:
!ls

apartment-rental-offers-in-germany.zip	kaggle.json  sample_data

In [8]:
import zipfile
zip_ref = zipfile.ZipFile('apartment-rental-offers-in-germany.zip', 'r')
zip_ref.extractall()
zip_ref.close()

In [9]:
!ls

apartment-rental-offers-in-germany.zip	immo_data.csv  kaggle.json  sample_data

# 1. Reading the Dataset and Some Preliminary Checks
The data was scraped from Immoscout24, the biggest real estate platform in Germany. Immoscout24 has listings for both rental properties and homes for sale, however, the data only contains offers for rental properties.

In this section, after reading the dataset, we are going to do some preliminary checks and take a look at the outlines of the dataset; such as the columns, size of dataset, data-types to see what can we do to optimize the dataset for what's coming next.

In [83]:
imm = pd.read_csv('immo_data.csv')

In [84]:
imm.head()

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,scoutId,noParkSpaces,firingTypes,hasKitchen,geo_bln,cellar,yearConstructedRange,baseRent,houseNumber,livingSpace,geo_krs,condition,interiorQual,petsAllowed,street,streetPlain,lift,baseRentRange,typeOfFlat,geo_plz,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,garden,livingSpaceRange,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,840.0,1965.0,96107057,1.0,oil,False,Nordrhein_Westfalen,True,2.0,595.0,244,86.00,Dortmund,well_kept,normal,NaN,Sch&uuml;ruferstra&szlig;e,Schüruferstraße,False,4,ground_floor,44269,4.0,181.4,1.0,3.0,4,True,4,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,NaN,1871.0,111378734,2.0,gas,False,Rheinland_Pfalz,False,1.0,800.0,NaN,89.00,Rhein_Pfalz_Kreis,refurbished,normal,no,no_information,NaN,False,5,ground_floor,67459,3.0,NaN,NaN,NaN,3,False,4,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,1300.0,2019.0,113147523,1.0,NaN,False,Sachsen,True,9.0,965.0,4,83.80,Dresden,first_time_use,sophisticated,NaN,Turnerweg,Turnerweg,True,6,apartment,1097,3.0,NaN,3.0,4.0,3,False,4,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,NaN,1964.0,108890903,NaN,district_heating,False,Sachsen,False,2.0,343.0,35,58.15,Mittelsachsen_Kreis,NaN,NaN,NaN,Gl&uuml;ck-Auf-Stra&szlig;e,Glück-Auf-Straße,False,2,other,9599,3.0,86.0,3.0,NaN,3,False,2,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,NaN,87.23,NaN,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,903.0,1950.0,114751222,NaN,gas,False,Bremen,False,1.0,765.0,10,84.97,Bremen,refurbished,NaN,NaN,Hermann-Henrich-Meier-Allee,Hermann-Henrich-Meier-Allee,False,5,apartment,28213,3.0,188.9,1.0,NaN,3,False,4,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,NaN,NaN,NaN,NaN,Feb20

In [85]:
imm.shape

(268850, 49)

In [86]:
imm.columns

Index(['regio1', 'serviceCharge', 'heatingType', 'telekomTvOffer',
       'telekomHybridUploadSpeed', 'newlyConst', 'balcony', 'picturecount',
       'pricetrend', 'telekomUploadSpeed', 'totalRent', 'yearConstructed',
       'scoutId', 'noParkSpaces', 'firingTypes', 'hasKitchen', 'geo_bln',
       'cellar', 'yearConstructedRange', 'baseRent', 'houseNumber',
       'livingSpace', 'geo_krs', 'condition', 'interiorQual', 'petsAllowed',
       'street', 'streetPlain', 'lift', 'baseRentRange', 'typeOfFlat',
       'geo_plz', 'noRooms', 'thermalChar', 'floor', 'numberOfFloors',
       'noRoomsRange', 'garden', 'livingSpaceRange', 'regio2', 'regio3',
       'description', 'facilities', 'heatingCosts', 'energyEfficiencyClass',
       'lastRefurbish', 'electricityBasePrice', 'electricityKwhPrice', 'date'],
      dtype='object')

## Optimizing the Data-types : Any Candidates?
As you might notice, mostly the datatypes are not set to `category`, whereas there are columns which could be revised in terms of datatype for better peformance and better readability. Following you may find the selected columns and the procedure of optimizing them in terms of datatypes. (Also the memory usage will do better after the changes)

In [87]:
imm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  object
 1   serviceCharge             261941 non-null  float64
 2   heatingType               223994 non-null  object
 3   telekomTvOffer            236231 non-null  object
 4   telekomHybridUploadSpeed  45020 non-null   float64
 5   newlyConst                268850 non-null  bool
 6   balcony                   268850 non-null  bool
 7   picturecount              268850 non-null  int64
 8   pricetrend                267018 non-null  float64
 9   telekomUploadSpeed        235492 non-null  float64
 10  totalRent                 228333 non-null  float64
 11  yearConstructed           211805 non-null  float64
 12  scoutId                   268850 non-null  int64
 13  noParkSpaces              93052 non-null   float64
 14  firingTypes               211886 non-null  object
 15  hasKitchen                268850 non-null  bool
 16  geo_bln                   268850 non-null  object
 17  cellar                    268850 non-null  bool
 18  yearConstructedRange      211805 non-null  float64
 19  baseRent                  268850 non-null  float64
 20  houseNumber               197832 non-null  object
 21  livingSpace               268850 non-null  float64
 22  geo_krs                   268850 non-null  object
 23  condition                 200361 non-null  object
 24  interiorQual              156185 non-null  object
 25  petsAllowed               154277 non-null  object
 26  street                    268850 non-null  object
 27  streetPlain               197837 non-null  object
 28  lift                      268850 non-null  bool
 29  baseRentRange             268850 non-null  int64
 30  typeOfFlat                232236 non-null  object
 31  geo_plz                   268850 non-null  int64
 32  noRooms                   268850 non-null  float64
 33  thermalChar               162344 non-null  float64
 34  floor                     217541 non-null  float64
 35  numberOfFloors            171118 non-null  float64
 36  noRoomsRange              268850 non-null  int64
 37  garden                    268850 non-null  bool
 38  livingSpaceRange          268850 non-null  int64
 39  regio2                    268850 non-null  object
 40  regio3                    268850 non-null  object
 41  description               249103 non-null  object
 42  facilities                215926 non-null  object
 43  heatingCosts              85518 non-null   float64
 44  energyEfficiencyClass     77787 non-null   object
 45  lastRefurbish             80711 non-null   float64
 46  electricityBasePrice      46846 non-null   float64
 47  electricityKwhPrice       46846 non-null   float64
 48  date                      268850 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 89.7+ MB

By checking the unique values in each column, we are going to filter the ones with less than 20 unique values. Thses columns are good candidates for going under an astype operation and transforming into `category` type.

In [88]:
for cols in imm.nunique()[imm.nunique() < 20].index :
  imm[cols] = imm[cols].astype('category')

In [89]:
imm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  category
 1   serviceCharge             261941 non-null  float64
 2   heatingType               223994 non-null  category
 3   telekomTvOffer            236231 non-null  category
 4   telekomHybridUploadSpeed  45020 non-null   category
 5   newlyConst                268850 non-null  category
 6   balcony                   268850 non-null  category
 7   picturecount              268850 non-null  int64
 8   pricetrend                267018 non-null  float64
 9   telekomUploadSpeed        235492 non-null  category
 10  totalRent                 228333 non-null  float64
 11  yearConstructed           211805 non-null  float64
 12  scoutId                   268850 non-null  int64
 13  noParkSpaces              93052 non-null   float64
 14  firingTypes               211886 non-null  object
 15  hasKitchen                268850 non-null  category
 16  geo_bln                   268850 non-null  category
 17  cellar                    268850 non-null  category
 18  yearConstructedRange      211805 non-null  category
 19  baseRent                  268850 non-null  float64
 20  houseNumber               197832 non-null  object
 21  livingSpace               268850 non-null  float64
 22  geo_krs                   268850 non-null  object
 23  condition                 200361 non-null  category
 24  interiorQual              156185 non-null  category
 25  petsAllowed               154277 non-null  category
 26  street                    268850 non-null  object
 27  streetPlain               197837 non-null  object
 28  lift                      268850 non-null  category
 29  baseRentRange             268850 non-null  category
 30  typeOfFlat                232236 non-null  category
 31  geo_plz                   268850 non-null  int64
 32  noRooms                   268850 non-null  float64
 33  thermalChar               162344 non-null  float64
 34  floor                     217541 non-null  float64
 35  numberOfFloors            171118 non-null  float64
 36  noRoomsRange              268850 non-null  category
 37  garden                    268850 non-null  category
 38  livingSpaceRange          268850 non-null  category
 39  regio2                    268850 non-null  object
 40  regio3                    268850 non-null  object
 41  description               249103 non-null  object
 42  facilities                215926 non-null  object
 43  heatingCosts              85518 non-null   float64
 44  energyEfficiencyClass     77787 non-null   category
 45  lastRefurbish             80711 non-null   float64
 46  electricityBasePrice      46846 non-null   category
 47  electricityKwhPrice       46846 non-null   category
 48  date                      268850 non-null  category
dtypes: category(24), float64(13), int64(3), object(9)
memory usage: 57.4+ MB

## Handling Null Values
Null values is an evitable aspect of any real dataset. So it would be better if we accept the existance of null values and do some work to handle them in the best way so that we can cover these caveats and also enrich our dataset with some proper data instead.

Following you may find the same procedure in our dataset. First we need to have an aggregate report on how these null values are spreaded throughout the rows and columns. Then we need to choose the best approach based on the datatype to fill these values.

In [90]:
# how null data is spreaded throughout the dataframe

nul_col_mask = imm.isnull().sum()/len(imm) > 0.5

nul_col = imm.columns[nul_col_mask]

imm.drop(columns=nul_col , inplace = True)

In [91]:
imm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 42 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   regio1                268850 non-null  category
 1   serviceCharge         261941 non-null  float64
 2   heatingType           223994 non-null  category
 3   telekomTvOffer        236231 non-null  category
 4   newlyConst            268850 non-null  category
 5   balcony               268850 non-null  category
 6   picturecount          268850 non-null  int64
 7   pricetrend            267018 non-null  float64
 8   telekomUploadSpeed    235492 non-null  category
 9   totalRent             228333 non-null  float64
 10  yearConstructed       211805 non-null  float64
 11  scoutId               268850 non-null  int64
 12  firingTypes           211886 non-null  object
 13  hasKitchen            268850 non-null  category
 14  geo_bln               268850 non-null  category
 15  cellar                268850 non-null  category
 16  yearConstructedRange  211805 non-null  category
 17  baseRent              268850 non-null  float64
 18  houseNumber           197832 non-null  object
 19  livingSpace           268850 non-null  float64
 20  geo_krs               268850 non-null  object
 21  condition             200361 non-null  category
 22  interiorQual          156185 non-null  category
 23  petsAllowed           154277 non-null  category
 24  street                268850 non-null  object
 25  streetPlain           197837 non-null  object
 26  lift                  268850 non-null  category
 27  baseRentRange         268850 non-null  category
 28  typeOfFlat            232236 non-null  category
 29  geo_plz               268850 non-null  int64
 30  noRooms               268850 non-null  float64
 31  thermalChar           162344 non-null  float64
 32  floor                 217541 non-null  float64
 33  numberOfFloors        171118 non-null  float64
 34  noRoomsRange          268850 non-null  category
 35  garden                268850 non-null  category
 36  livingSpaceRange      268850 non-null  category
 37  regio2                268850 non-null  object
 38  regio3                268850 non-null  object
 39  description           249103 non-null  object
 40  facilities            215926 non-null  object
 41  date                  268850 non-null  category
dtypes: category(20), float64(10), int64(3), object(9)
memory usage: 50.3+ MB

In [92]:
imm.dropna(axis=0, thresh=len(imm.columns)*0.8 , inplace = True)

In [93]:
imm.isna().sum()

regio1                      0
serviceCharge            3267
heatingType             30656
telekomTvOffer          26510
newlyConst                  0
balcony                     0
picturecount                0
pricetrend               1598
telekomUploadSpeed      27145
totalRent               33335
yearConstructed         40679
scoutId                     0
firingTypes             40468
hasKitchen                  0
geo_bln                     0
cellar                      0
yearConstructedRange    40679
baseRent                    0
houseNumber             56636
livingSpace                 0
geo_krs                     0
condition               51551
interiorQual            93339
petsAllowed             97291
street                      0
streetPlain             56633
lift                        0
baseRentRange               0
typeOfFlat              29240
geo_plz                     0
noRooms                     0
thermalChar             87916
floor                   37821
numberOfFloors          79037
noRoomsRange                0
garden                      0
livingSpaceRange            0
regio2                      0
regio3                      0
description             16439
facilities              39237
date                        0
dtype: int64

## Handling Outliers

Outliers are records which have some anomalies in their values in comparison with some criteria, mostly from a statistical point of view.

There are different methods on how to handle outliers and it's better to apply each method according to the nature of dataset.

In [94]:
for cols in imm.columns:

  if imm[cols].dtype == 'int64' or imm[cols].dtype == 'float64':
      upper_range = imm[cols].mean() + 3 * imm[cols].std()
      lower_range = imm[cols].mean() - 3 * imm[cols].std()
      
      indexs = imm[(imm[cols] > upper_range) | (imm[cols] < lower_range)].index
      imm = imm.drop(indexs)

In [95]:
imm.shape

(226151, 42)

## Handling Duplicates

Using the `scoutId` column, one is able to check if there are duplicated records in the dataset:

we have found none based on `scoutId`

In [96]:
duplicated_rows = imm.duplicated(subset = 'scoutId',keep= 'first')
duplicated_rows.sum()

0

In [99]:
imm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226151 entries, 0 to 268849
Data columns (total 42 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   regio1                226151 non-null  category
 1   serviceCharge         223248 non-null  float64
 2   heatingType           197102 non-null  category
 3   telekomTvOffer        201709 non-null  category
 4   newlyConst            226151 non-null  category
 5   balcony               226151 non-null  category
 6   picturecount          226151 non-null  int64
 7   pricetrend            224739 non-null  float64
 8   telekomUploadSpeed    201147 non-null  category
 9   totalRent             195412 non-null  float64
 10  yearConstructed       188302 non-null  float64
 11  scoutId               226151 non-null  int64
 12  firingTypes           188664 non-null  object
 13  hasKitchen            226151 non-null  category
 14  geo_bln               226151 non-null  category
 15  cellar                226151 non-null  category
 16  yearConstructedRange  188302 non-null  category
 17  baseRent              226151 non-null  float64
 18  houseNumber           174183 non-null  object
 19  livingSpace           226151 non-null  float64
 20  geo_krs               226151 non-null  object
 21  condition             177463 non-null  category
 22  interiorQual          138053 non-null  category
 23  petsAllowed           135623 non-null  category
 24  street                226151 non-null  object
 25  streetPlain           174183 non-null  object
 26  lift                  226151 non-null  category
 27  baseRentRange         226151 non-null  category
 28  typeOfFlat            199142 non-null  category
 29  geo_plz               226151 non-null  int64
 30  noRooms               226151 non-null  float64
 31  thermalChar           145939 non-null  float64
 32  floor                 190698 non-null  float64
 33  numberOfFloors        151336 non-null  float64
 34  noRoomsRange          226151 non-null  category
 35  garden                226151 non-null  category
 36  livingSpaceRange      226151 non-null  category
 37  regio2                226151 non-null  object
 38  regio3                226151 non-null  object
 39  description           210484 non-null  object
 40  facilities            188868 non-null  object
 41  date                  226151 non-null  category
dtypes: category(20), float64(10), int64(3), object(9)
memory usage: 44.0+ MB

# 2. Aggregate information 
Aggregate data refers to numerical or non-numerical information that is collected from multiple sources and/or on multiple measures, variables, or individuals and compiled into data summaries or summary reports, typically for the purposes of public reporting or statistical analysis.

In [97]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(rc={'figure.figsize':(11.7,8.27)})

## Total number of Ads

In [98]:
len(imm)

226151